{% extends "admin/index.html" %}

{% block extrahead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="/">home</a>
</div>
{% endblock %}
{% endif %}

{% block sidebar %}{% endblock %}

{% block content %}
{% block buttons %}{% endblock %}
{% block redundancies %}{% endblock %}
{% endblock %}
