{% extends "base.html" %}

{% block title %}Dropbox Integration{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="/">home</a> |
    {% if user.is_authenticated %}
        <a>{{user.email}}</a> |
        <a href="{% url "logout" %}">Logout</a>
    {% endif %}
</div>
{% endblock %}

{% block content %}
    <style>
        .path:hover {
            background: yellow;
        }
    </style>
    {% if user.is_authenticated %}

        <form id="form_voltar" action="/" method="POST" hidden>
            {% csrf_token %}
            <input type="text" name="path" hidden value="{{parent_path}}">
            <div class='path' id="div_voltar">
                <span>voltar</span>
            </div>
            <script>
                $('#div_voltar').click(function(){
                    $('#form_voltar').submit();
                });
            </script>
        </form>

        <div id="content">
            <div class="module">
                <table>
                    <caption>
                        <a class="section">Diretório: {{path}}</a>
                    </caption>
                <tbody>
                    {% for file in folder_contents %}
                        <tr class="model">
                            <th scope="row">
                                {% with file.id|slice:"3:" as i %}
                                    <form id="form_{{i}}" action="/" method="POST">
                                        {% csrf_token %}
                                        <input type="text" name="parent_path" hidden value="{{path}}">
                                        <input type="text" name="path" hidden value="{{file.path_display}}">
                                        <div class='path' id="div_{{i}}">
                                            <a>{{ file.name }}</a>
                                        </div>
                                    </form>
                                    {% if file.tag == 'folder' %}
                                        </th>
                                        <td>
                                            <div class='path' id="div_button_{{i}}">
                                                <a class="changelink">Acessar</a>
                                            </div>
                                        </td>
                                        <script>
                                            $('#div_{{i}}').click(function(){
                                                $('#form_{{i}}').submit();
                                            });
                                            $('#div_button_{{i}}').click(function(){
                                                $('#form_{{i}}').submit();
                                            });
                                        </script>
                                    {% else %}
                                    {% endif %}
                                        </th>
                                {% endwith %}
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>

            <div class="module">
                <table>
                    <caption>
                        <a class="section">Favor escolher o tipo de relatório:</a>
                    </caption>

                    <tbody>
                            {% block buttons %}
                                <tr class="model">
                                    <th class="row" style="width:50%;">
                                        <form action="/red/0/" method="POST">
                                            {% csrf_token %}
                                            <input type="text" name="path" hidden value="{{path}}">
                                            <input type="text" name="parent_path" hidden value="{{parent_path}}">
                                            <button type="submit">Buscar redundâncias nesta pasta</button>
                                        </form>
                                    </th>
                                    <th class="row" style="width:50%;">
                                        <form action="/red/1/" method="POST">
                                            {% csrf_token %}
                                            <input type="text" name="path" hidden value="{{path}}">
                                            <input type="text" name="parent_path" hidden value="{{parent_path}}">
                                            <button type="submit">Buscar redundâncias em profundidade</button>
                                        </form>
                                    </th>
                                </tr>
                            {% endblock %}
                    </tbody>
                </table>
            </div>

            <div class="module">
                {% block redundancies %}{% endblock %}
            </div>
        </div>

    {% else %}
        <p><a href="{% url "social:begin" "dropbox-oauth2" %}">Login with Dropbox</a></p>
    {% endif %}

{% endblock %}
