{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a></div>{% endblock %}

{% block content %}

<p>Obrigado pela utilização do aplicativo, volte sempre.</p>

<p><a href="/">{% trans 'Log in again' %}</a></p>

{% endblock %}
