{% extends "index.html" %}

{% block redundancies %}
    <table>
        {% if redundancies|length == 0 %}
            <caption>Nenhuma redundância encontrada : )</caption>
        {% elif redundancies|length != 0 %}
            <caption>Redundâncias encontradas:</caption>

            <tbody>
                <tr class="model">
                    <th scope="row"  style="width:40%;">Nome do arquivo 1</th>
                    <th scope="row"  style="width:40%;">Nome do arquivo 2</th>
                    <th scope="row">Tipo de redundância</th>
                </tr>
                {% for k, r in redict.items %}
                    <tr class="model">
                        {% for f in r.files %}
                            <td>
                                <a href="https://www.dropbox.com/home{{f}}" target="_blank">
                                    {{f}}
                                </a>
                            </td>
                        {% endfor %}
                        <td scope="row">{{r.type}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endif %}
    </table>
{% endblock %}
